/* global */
:root{
    --dark-blue: #252B42;
    --orange: #FA4A0C;
    --white: #FFFFFF;
    --dark-white: #F6F6F6; 
    --black: #000000;
    --light-grey: #737373;
    --dark-grey: #5C5C5C;
    --hr-color: #E4E4E4;
}

hr{
    size: 5;
    width: 50%;
    height: 2px;
    background-color: var(--hr-color);
    margin: 10px auto;
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections{
    width: 80%;
    margin: 5px auto;
}

.create-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--orange);
    line-height: 40px;
}

.create-content2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--dark-blue);
    line-height: 57px;
}

.create-content3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--light-grey);
    line-height: 42px;
}

.btn.special,
.btn-footer.special{
    background-color: var(--orange);
    border: none;
}

.sec-text{
    padding: 50px;
    margin: 0 auto;
}

/* nav-bar */
.nav-container{
    margin: 0px 60px;
}

#content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 60px;
}

.link{
    color: var(--dark-blue);
    text-decoration: none;
    margin-left: 90px;
}

.link.active{
    color: var(--orange);
}

/* section-one */
.section-one{
    background-image: url("../assets/sec1bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

.food-mon{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: var(--dark-white);
}

.text-pop{
    /* border: 1px solid white; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 63px;
    line-height: 84px;
    text-indent: 164px;
    /* direction: rtl; */
    padding: 0px 30px;
    margin: 45px;
    color: var(--white);
}

.mon-500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: var(--dark-white);
}

.btn-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    margin: 50px 10px;
    padding: 0 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    line-height: 60px;
    border-radius: 50px;
    border: 1px solid var(--white);
    text-decoration: none;
}

.img-sec1{
    margin-top: -245px;
}

/* section-two */
.align-text-center{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    margin-top: 50px;
}

/* section-three */
.section-three{
    margin-left: 20%;
}

/* section-four */



/* section-five */
.section-five{
    background-image: url("../assets/footer.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    padding: 150px;
}

.btn-footer{
    margin: 50px 10px;
    padding: 10px 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    line-height: 60px;
    border-radius: 10px;
    border: 1px solid var(--white);
    text-decoration: none;
}

.sec5-first{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: var(--white);
}

.sec5-second{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: var(--white);
}

/* footer */
.footer-copy{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--dark-grey);
}

.fa{
    margin-left: 20px;
    font-size: 30px;
    color: var(--orange);
}
